<!-- Modal -->
    <div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1><i class="glyphicon glyphicon-thumbs-up"></i> Errore</h1>
                </div>
                <div class="modal-body">
                	<p>Nessun risultato trovato</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Chiudi</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="col-lg-5">
    <h3>Dove vuoi andare?</h3>
    <style>
        .legend {
            padding: 6px 8px;
            width: 100px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            background: rgba(255,255,255, 0.9);
            line-height: 18px;
            border-radius: 5px;
            color: #555;
        }

        .legend i {
            color: #777;
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

    </style>
    <div>
        <form id="search-form">
            <div class="input-group">
                <span class="input-group-addon"><img src="../assets/flag-128.png" width="20px"></span>
                <input ng-model="source" list="srcSuggestions" ng-change="getSrcSuggestions()" type="text" class="form-control" placeholder="Partenza" required="required" aria-describedby="basic-addon1">
                <datalist id="srcSuggestions">
                    <option ng-repeat="srcSuggestion in srcSuggestions" value="{{srcSuggestion}}">
                </datalist>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon"><img src="../assets/finish-flag-128.png" width="20px"></span>
                <input ng-model="destination" list="dstSuggestions" ng-change="getDstSuggestions()" type="text" class="form-control" placeholder="Arrivo" required="required" aria-describedby="basic-addon1">
                <datalist id="dstSuggestions">
                    <option ng-repeat="dstSuggestion in dstSuggestions" value="{{dstSuggestion}}">
                </datalist>
            </div>
            <br>
            <div id = "alert_placeholder"></div>
            <button ng-click="ctrl.calculate()" type="submit" class="btn btn-default btn-block">Vai!</button>
        </form>

        <div style="margin-top: 20px" class="panel panel-default" ng-hide="pathDetailsVisibility">
            <div class="panel-heading">
                <h3 style="text-align: center" class="panel-title" >Dettagli del percorso</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped" id="path">
                    <tbody>
                    <tr ng-repeat="path in pathDetails"><td>{{path.cost}} m</td><td ng-if="path.mode"><img src="https://icons.iconarchive.com/icons/icons8/windows-8/24/Sports-Walking-icon.png"></td><td ng-if="!path.mode"><img src="https://icons.iconarchive.com/icons/fasticon/happy-bus/24/bus-blue-icon.png">{{path.edgeLine}}</img></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <i class="material-icons">directions_walk</i>
        <i class="fa fa-bus"></i>
    -->

    <br><br>

    <div class="hidden" id="results-table">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
          </div>
          <div class="panel-body">
            <!-- Table -->
            <table class="table"></table>
          </div>
        </div>                
    </div>
</div>

<div class="col-lg-7 custom-popup map-under-dropdown-menu" id="div_map">
    <leaflet lf-center="turin" defaults="defaults" bounds="bounds" paths="paths" markers="markers" legend="legend" height="480px"></leaflet>
</div>