
	
	<div class="container">
		<div class="col-lg-12" id="chat-map">
			<leaflet lf-center="mapcenter" defaults="defaults" markers="markers" paths="paths" bounds="bounds" legend="legend" height="300px"></leaflet>
		</div>
	</div>
	<br></br>
			
	<div class="container">
		<div class="row" ng-hide="(infoMessage.length==0)" >
			<div class="col-lg-1"></div>
			<div class="col-lg-12">
				<div id="infomsg" class="alert alert-danger alert-dismissable fade in" ng-model="infoMessage">
					<a class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{{infoMessage}}</strong>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="col-sm-3">

			<div class="row">
				<div class="dropdown all_conversation">
					<button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-weixin" aria-hidden="true"></i>Users list
					</button>
				</div>
				<div class="member_list">
					<ul ng-repeat="user in participants" id="usersList" class="list-unstyled">
						<li  class="left clearfix"> 
							<span class="chat-img pull-left">
			 					<!--<img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-8/128/User-blue-icon.png" alt="User Avatar" class="img-circle"/>-->
								<!--<img ng-src="https://localhost:8443/rest/users/{{user.nickname}}/image" class="img-circle" alt="..."/>-->
								<img ng-src="data:image/JPG;base64,{{user.picture}}" class="img-circle" alt="..."/>
							</span>
			 				<div class="chat-body clearfix">
								<div class="header_sec">
				   					<strong class="primary-font">{{user.nickname}}</strong>
								</div>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
		<!--chat_sidebar-->

		<div class="col-sm-9 message_section">
			<div class="row">
				<div class="chat_area">
					<ul id="chatMessages" class="list-unstyled">
						<chat-message ng-repeat="message in messages" message="message" user="getPartecipantByNickname(message.nickname)" center-map-on-alert="centerMapOnAlert(id)" ></chat-message>
					</ul>
				</div>
				<!--chat_area-->
				<div class="message_write">
					<textarea ng-keypress="enterKeyListener($event)"   ng-model="newMessage" ng-change="monitorTextInput()" id="textArea" class="form-control" placeholder="Inserisci un messaggio"></textarea>
					<div id="alertsModal" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
						       <div class="modal-header">
						         <h4 class="modal-title">Ci sei quasi, ci servono solo alcune informazioni sulla tua segnalazione...</h4>
						       </div>
						       <div class="modal-body" id="modal-body">
								   <div ng-if="addresses.length > 1">
									   <p>Il tuo indirizzo ha restituito più risultati validi! Seleziona quello richiesto:</p>
									   <div class="pre-scrollable suggestions">
										   <div class="radio" ng-repeat="address in addresses">
										   		<label><input type="radio" name="chosenAddress" ng-model="$parent.$parent.chosenAddress" ng-value="address">{{address.attributes.ADDRESS}}, {{address.attributes.CITY}}</label>
										   </div>
									   </div>
								   </div>
								   <br>
								   <div>
									   <p>Cosa hai notato?</p>
									   <div class="radio"  ng-repeat="atype in alertTypes">
										   <label>
											   <input ng-model="$parent.newAlert.alert.type" type="radio"  name="type" ng-value="atype">
											   {{atype}}
										   </label>
									   </div>
								   </div>
						       </div>
						       <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="modal-select" ng-click="chooseAlertInfo()">Continua</button>
						       </div>
						    </div>
					    </div>
					</div>
					<div id="tagModal" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Qualcosa non va? </h4>
								</div>
								<div class="modal-body" id="modal-body-tag">
									<div>
										<p>Inserisci l'indirizzo, anche parziale, per segnalare un problema agli altri utenti:</p>
										<input type="text" class="form-control" ng-model="modalAddress" id="address" placeholder="Indirizzo">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="modal-select-tag" ng-click="processModalAlert()">Continua</button>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="chat_bottom">
						<!--<a class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Add Image</a>-->
						<div class="pull-right btn-group row">
							<div class="col-md-3"></div>
							<div class="col-md-3"><a id="alertBtn" ng-click="showAddressModal()" class="btn btn-info">Segnala</a></div>
							<div class="col-md-1"></div>
							<div class="col-md-3"><a id="sendBtn" ng-click="sendMessage()" class="btn btn-success">Invia</a></div></div>
						<div class="btn-group"></div>
					</div>

				</div>
			</div>

		</div>

		<!--message_section-->
		<div class="col-sm-9 col-sm-offset-3" id="suggestionsArea">
			<div class="well">
					<h5>Suggerimenti</h5>
					<span class="label label-danger">Indirizzo</span> Segnalazione attiva. Puoi visualizzarla sulla mappa e interagire con essa.<br>
					<span class="label label-warning">Indirizzo</span> Segnalazione scaduta. Non viene referenziata da tempo.<br>
					<span class="label label-default">[Indirizzo]</span> Puoi usare questa sintassi per una nuova segnalazione.

			</div>

		</div>
	</div>
	<!--<button id="helpBtn" title="Aiuto" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-question-sign" style="vertical-align:middle"></i></button>-->
	<!--
	<a id="helpBtn" class="btn btn-info btn-md help-btn" role="button" data-toggle="tooltip" data-placement="left" ng-click="focusOnHelp()">Aiuto</a>
	-->


	
	