<div class="col-lg-5">
	<div class="panel panel-default">
		<div class="panel-heading">Linee</div>
		<!--
		<div class="panel-body">
		</div>
		-->

		<form>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
					<input type="text" class="form-control" placeholder="Ricerca Linee" ng-model="searchLine">
				</div>
			</div>
		</form>


		<div class="pre-scrollable lines">

			<table class="table table-hover table-striped">
			    <tr>
			        <th>Linea</th>
			        <th>Descrizione</th>
			    </tr>

			    <tr ng-class="{active: ctrl.lineID == line.line}" ng-repeat="line in ctrl.lines | filter:{line : searchLine}" ng-click="ctrl.goToLink(line)">
			    	<td>{{line.line}}</td>
			        <td>{{line.description}}</td>
			    </tr>
			</table>
		</div>
	</div>
	<div class ="col-lg-6 col-md-6" id="direction-buttons">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button ng-click="buttonClick('going')" type="button" class="btn btn-success" id="going-button" value="">Andata</button>
			</div>
			<div class="btn-group" role="group">
				<button ng-click="buttonClick('return')" type="button" class="btn btn-info" id="return-button" value="">Ritorno</button>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-7">
    <leaflet lf-center="center" defaults="defaults" bounds="bounds" paths="paths" markers="markers" height="480px"></leaflet>
</div>