<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="commonHeadFragment">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>
    
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
</head>

<body>
	
	<div th:fragment="generalErrorsFragment">
		<!--/* Show general error message when form contains errors */-->
	    
	    <th:block th:if="${infoMessage} != null">
	    	<div th:replace="fragments/alert :: alert (type='info', message=${infoMessage})"></div>
	    </th:block>
	    
	    <th:block th:if="${successMessage} != null">
	    	<div th:replace="fragments/alert :: alert (type='success', message=${successMessage})"></div>
	    </th:block>
	    
	    <th:block th:if="${exceptionMessage} != null">
	    	<div th:replace="fragments/alert :: alert (type='warning', message=${exceptionMessage})"></div>
	    </th:block>
	    
	    <th:block th:if="${dangerMessage} != null">
	    	<div th:replace="fragments/alert :: alert (type='danger', message=${dangerMessage})"></div>
	    </th:block>
	    
	</div>
	
	
	
	<div th:fragment="tailRegistrationFragment">
		<div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
            	<button class="btn btn-lg btn-primary btn-block" type="submit">Conferma dati</button>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <p>Hai già un account? <a href="login" th:href="@{/login}">Accedi</a></p>
            </div>
        </div>
	</div>


	
	<div th:fragment="inputImagePreview">
	
		<div class="form-group row">
			<div class="col-lg-6 col-lg-offset-3">
				<img id="image-preview" class="img-thumbnail hidden"/>
			</div>
		</div>
	
        <div class="form-group row">
         	<input type="file" id="input-image-preview" name="file" accept="image/x-png,image/gif,image/jpeg" class="center-block"/>
        </div>
		
		<script>
			document.getElementById("input-image-preview").onchange = function () {
			    var reader = new FileReader();
	
			    reader.onload = function (e) {
			        var dom_img = document.getElementById("image-preview");
			        
			        dom_img.src = e.target.result;
			        dom_img.classList.remove("hidden");
			    };
	
			    reader.readAsDataURL(this.files[0]);
			};
		</script>	
	</div>       
	
</body>

</html>