<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

	<!--
    <footer th:fragment="footer" class="container-fluid text-center">
        <div class="container">
            <p class="text-muted">Applicazioni Internet 2017</p>
        </div>
    </footer>
    -->
    
    <div class="my-footer">
    	<div class="container text-center">
    		<p class="text-muted">Applicazioni Internet 2017</p>
    	</div>
    </div>

</body>
</html>