"<b>" + alert.type.toUpperCase() + "</b><br>"
+ alert.address + "<br>"
+ "attivo dal " + printDateTime(alert.timestamp) + "<br>"
+ "segnalato da " + alert.nickname + "<br>"
+ 
+ "	<div class=\"acidjs-rating-stars acidjs-rating-disabled\">"
+ "		valutazione"
+ "			<input type=\"hidden\" name=\"alert-id\">"
+ "			<input disabled=\"disabled\" type=\"radio\" name=\"group-2\" id=\"group-2-0\" value=\"5\" />"
+ "			<label for=\"group-2-0\"></label>"
+ "			<input disabled=\"disabled\" type=\"radio\" name=\"group-2\" id=\"group-2-1\" value=\"4\" />"
+ "			<label for=\"group-2-1\"></label>"
+ "			<input disabled=\"disabled\" type=\"radio\" name=\"group-2\" id=\"group-2-2\" value=\"3\" checked=\"checked\"/>"
+ "			<label for=\"group-2-2\"></label>"
+ "			<input disabled=\"disabled\" type=\"radio\" name=\"group-2\" id=\"group-2-3\" value=\"2\" />"
+ "			<label for=\"group-2-3\"></label>"
+ "			<input disabled=\"disabled\" type=\"radio\" name=\"group-2\" id=\"group-2-4\"  value=\"1\" />"
+ "			<label for=\"group-2-4\"></label>"
+ "</div>"
+ "<a>vota</a>"