<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<title>Bad Verification</title>

	<th:block th:include="fragments/common :: commonHeadFragment"></th:block>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>

<body>
	<div id="wrap">
	
	    <div th:replace="fragments/navbar"></div>
	
	    <div class="container">
	    
	        <form class="form-signin" role="form">
			    <div th:replace="fragments/common :: generalErrorsFragment"></div>
	        </form>
	        
	    </div>
	    
	</div>
	
	<div th:replace="fragments/footer"></div>
</body>
</html>