<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- <link rel="shortcut icon" th:href="@{/resources/ico/favicon.png}"/>  -->

    <title>Bad Verification</title>

	 <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.js"></script>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>

<body>
	<div id="wrap">
	    <div th:replace="fragments/navbar"></div>
	
	    <div class="container">
	    	<div th:if="${param.error != null}" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
	    
	        <form class="form-signin" role="form">
	        
			    <th:block th:if="${dangerMessage} != null">
			    	<div th:replace="fragments/alert :: alert (type='danger', message=${dangerMessage})">Alert</div>
			    </th:block>
			    
	        </form>
	        
	    </div>
	</div>
	
	<div th:replace="fragments/footer"></div>
</body>
</html>