<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Nickname</title>

	<th:block th:include="fragments/common :: commonHeadFragment"></th:block>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>

<body>
	<div id="wrap">
	    <div th:replace="fragments/navbar (showLogin='false')"></div>
	
	    <div class="container">
	    
	        <form class="form-signin" role="form" method="POST" th:action="@{/change-nickname}">
	
				<th:block th:if="${alreadyInUseNickname}">   
			        <div th:replace="fragments/alert :: alert (type='danger', message='Nickname is already in use.')">
			        	Nickname is already in use.
			        </div>
		        </th:block>
	
				<th:block th:if="${emptyNickname}">   
			        <div th:replace="fragments/alert :: alert (type='danger', message='Nickname must not be empty.')">
			        	Nickname must not be empty.
			        </div>
		        </th:block>				    
	
	            <h2 class="form-signin-heading">Update your Nickname</h2>
	            
	            <div class="form-group">
	                <input type="text" class="form-control" placeholder="New Nickname" name="new-nickname" autofocus="true" required="true"/>
	            </div>
	            
	            <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
	            
	        </form>
	        
	    </div>
	</div>
	
	<div th:replace="fragments/footer"></div>
</body>
</html>