<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="fragments/common :: commonHeadFragment"></th:block>

	<script src="/js/sockjs.js"></script>
	<script src="/js/stomp.js"></script>
	<link th:href="@{/css/chatPage.css}" rel="stylesheet" />
	<link th:href="@{/css/rating.css}" rel="stylesheet" />
	
	<script src="/js/angular.js"></script>
    <script src="/js/leaflet.js"></script>
    <script src="/js/angular-simple-logger.min.js"></script>
    <script src="/js/angular-resource.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/ui-leaflet.js"></script>
	<script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>

    <script src="/js/app/app-chat.js"></script>
	<script src="/js/app/app-chat-routing.js"></script>
	<!-- map -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>
</head>
<body ng-app="App">
	<script src="https://use.fontawesome.com/45e03a14ce.js"></script>

	<div th:replace="fragments/navbar :: navbar(chat)"></div>
	<div ng-view="true"></div>
	
	<div th:replace="fragments/footer"></div>

	<script>

		function updateUrl(url){
			var myArray = url.split("/");

			myArray.splice(4, 0, "#!");

			var newUrl = "";

			for(var i in myArray)
				newUrl += myArray[i] + "/";

			return newUrl;
		}

		var url = window.location.href;

		if ( url.indexOf("#!") === -1){
			// reloading with "/chat/#!/X"

			reloaded = true;

			newUrl = updateUrl(url);

			window.location.href = newUrl;
		}
		else{
			// modify "/chat/X" to "/chat/#!/X"

			$('.my-chat-anchor')
			.each(function(){
				console.log(this.href);

				this.href = updateUrl(this.href);
			})
			.removeClass("my-chat-anchor");
		}

	</script>
</body>
</html>