<!DOCTYPE html>
<html>
<head>
    <title>Profile Summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>
</head>
<body>
	<div id="wrap">
	    <div th:replace="fragments/navbar"></div>
	
	    <div class="container">
			<div id="form"  th:object="${user}" th:fragment="profile">
			    <!--/* Show general error message when form contains errors */-->
			<!--     <th:block th:if="${#fields.hasErrors('${user.*}')}"> -->
			<!--         <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div> -->
			<!--     </th:block> -->
			    <legend th:text="'Hi ' + ${user.nickname} + ', this is your profile page'"></legend>
			    
			    <th:block th:if="${user.getImage().length != 0}">
			    	<img th:src="@{'data:image/*;base64,'+${user.generateBase64Image()}}" style="width: 150px; height: 150px;"/>
			    </th:block>
			    
			    <th:block th:if="${user.getImage().length == 0}">
			    	<img 
				    	src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlQiU1yEonftm27j6_3hYC69EMvxwuFQrTJ1cgIFJMwF4tyCnG" 
				    	style="width: 150px; height: 150px;"
			    	/>
			    </th:block>
			    <!-- TODO load default profile picture -->
			    
			    <table class="table table-user-information">
			    	<tbody>
			    		<tr>
			    			<td>Registration email</td>
			    			<td th:text="${user.email}"></td>
			    		</tr>
			    		<tr>
			    			<td>Nickname</td>
			    			<td th:text="${user.nickname}"></td>
			    		</tr>
			    		<tr>
			    			<td>Gender</td>
			    			<td th:text="${user.gender}"></td>
			    		</tr>
			    		<tr>
			    			<td>Age</td>
			    			<td th:text="${user.age}"></td>
			    		</tr>
			    		<tr>
			    			<td>Education level</td>
			    			<td th:text="${user.education}"></td>
			    		</tr>
			    		<tr>
			    			<td>Current job</td>
			    			<td th:text="${user.job}"></td>
			    		</tr>
			    		<tr th:if="${user.ownCar.registrationYear} != null">
			    			<td>Car information</td>
			    			<td th:text="'Registration year: ' + ${user.ownCar.registrationYear} + ', fuel: ' + ${user.ownCar.fuelType}">No car setted</td>
			    		</tr>
			    		<tr>
			    			<td>Car sharing service</td>
			    			<td th:text="${user.carSharing}">Not used</td>
			    		</tr>
			    		<tr>
			    			<td>Bike</td>
			    			<td th:text="'Owned: ' + ${user.bikeUsage.owned}"></td>
			    		</tr>
			    		<tr>
			    			<td></td>
			    			<td th:text="'Shared: ' + ${user.bikeUsage.sharing}"></td>
			    		</tr>
			    		<tr>
			    			<td>Public transport pass</td>
			    			<td th:text="${user.pubTransport}"></td>
			    		</tr>
			    	</tbody>
			    </table>
			    
			    <hr></hr>
			    
			    <div class="btn-group btn-group-justified" role="group" aria-label="...">
			    	<a role="button" class="btn btn-default" th:href="@{/change-nickname}">Change Nickname</a>
			    	<a role="button" class="btn btn-default" th:href="@{/change-password}">Change Password</a>
			    </div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>