<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profilo</title>
    
	<th:block th:include="fragments/common :: commonHeadFragment"></th:block>
</head>
<body>
    <div th:replace="fragments/navbar"></div>

    <div class="container">
		<div id="form"  th:object="${user}" th:fragment="profile">
		    
		    <h3 th:text="'Ciao ' + ${user.nickname} + ', questo è il tuo profilo.'"></h3>
		    
		    <div class="col-lg-2 col-md-1">
			    <div class="thumbnail">
					<img th:if="${user.getImage() != null}" 
						th:src="@{'data:image/*;base64,'+${user.generateBase64Image()}}" alt="..."/>
					<img th:if="${user.getImage() == null}" 
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlQiU1yEonftm27j6_3hYC69EMvxwuFQrTJ1cgIFJMwF4tyCnG" alt="..."/>
				</div>
				
				<hr></hr>			
				
		    	<a class="btn btn-default" role="button" th:href="@{/change-password}">Cambia Password</a>
		    	
				<hr></hr>
	    	
		    	<a class="btn btn-default" role="button" th:href="@{/change-nickname}">Cambia Nickname</a>
		    	
			    
			    
		    </div>
		    
			<div class="col-lg-10 col-md-10">
				<table class="table table-user-information">
			    	<tbody>
			    		<tr>
			    			<td>Email</td>
			    			<td th:text="${user.email}"></td>
			    		</tr>
			    		<tr>
			    			<td>Nickname</td>
			    			<td th:text="${user.nickname}"></td>
			    		</tr>
			    		<tr>
			    			<td>Sesso</td>
			    			<td th:text="${user.gender}"></td>
			    		</tr>
			    		<tr>
			    			<td>Età</td>
			    			<td th:text="${user.age}"></td>
			    		</tr>
			    		<tr>
			    			<td>Livello Istruzione</td>
			    			<td th:text="${user.education}"></td>
			    		</tr>
			    		<tr>
			    			<td>Ambito lavorativo</td>
			    			<td th:text="${user.job}"></td>
			    		</tr>
			    		<tr th:if="${user.ownCar.registrationYear} != null">
			    			<td>Auto</td>
			    			<td th:text="'Anno di registrazione: ' + ${user.ownCar.registrationYear}"></td>
			    		</tr>
			    		<tr>
			    			<td></td>
			    			<td th:text="'Carburante: ' + ${user.ownCar.fuelType}"></td>
			    		</tr>
			    		<tr>
			    			<td>Servizio di car sharing</td>
			    			<td th:text="${user.carSharing}">Non usato</td>
			    		</tr>
			    		<tr>
			    			<td>Bici</td>
			    			<td th:if="${user.bikeUsage.owned} == true" th:text="Posseduta"></td>
			    			<td th:if="${user.bikeUsage.owned} == false" th:text="Non posseduta"></td>
			    		</tr>
			    		<tr>
			    			<td></td>
			    			<td th:if="${user.bikeUsage.sharing} == true" th:text="'Servizio bike sharing usato'"></td>
			    			<td th:if="${user.bikeUsage.sharing} == false" th:text="'Servizio bike sharing non usato'"></td>
			    		</tr>
			    		<tr>
			    			<td>Trasporto pubblico</td>
			    			<td th:text="${user.pubTransport}"></td>
			    		</tr>
			    	</tbody>
			    </table>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer"></div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>