<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Registrati - Informazioni personali</title>
	
	<th:block th:include="fragments/common :: commonHeadFragment"></th:block>
</head>

<body>
	<div th:replace="fragments/navbar (showLogin='false')"></div>

    <div class="container">
		<form id="form" class="form-narrow form-horizontal" method="post" th:action="@{/register-second-phase(token=${token})}" th:object="${user}" th:fragment="signupForm" enctype="multipart/form-data">
		
			<div th:replace="fragments/common :: generalErrorsFragment"></div>
			
		    <th:block th:if="${#fields.hasErrors('${user.*}')}">
		        <div th:replace="fragments/alert :: alert (type='danger', message='I dati inseriti non sono validi.')"></div>
		    </th:block>
				    
		    <fieldset>
		        <legend>Informazioni personali</legend>
		        		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('nickname')}? 'has-error'">
		            <label for="nickname" class="col-lg-2 control-label">Nickname</label>
		            <div class="col-lg-10">
		                <input type="text" class="form-control" id="nickname" placeholder="Nickname" th:field="*{nickname}" required="required"/>
		                <span class="help-block" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('gender')}? 'has-error'">
		            <label for="gender" class="col-lg-2 control-label">Sesso</label>
		            <div class="col-lg-10">
		                <select class="form-control" id="gender" th:field="*{gender}">
		                	<option value="" selected="selected">Scegli</option>
		                	
						    <option value="M">M</option>
						    <option value="F">F</option>
						    <option value="other">Altro</option>
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('age')}? 'has-error'">
		            <label for="age" class="col-lg-2 control-label">Età</label>
		            <div class="col-lg-10">
		                <input type="number" class="form-control" id="age" min="10" max="110" th:field="*{age}" required="required"/>
		                <span class="help-block" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('image')}? 'has-error'">
		            <label for="image" class="col-lg-2 control-label">Immagine profilo</label>
		            <div class="col-lg-10">
		            	
		            	<th:block th:include="fragments/common :: inputImagePreview"></th:block>
		            	
		                <span class="help-block" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
		            </div>
		        </div>
	        	
		        <div class="form-group" th:classappend="${#fields.hasErrors('education')}? 'has-error'">
		            <label for="education" class="col-lg-2 control-label">Livello istruzione</label>
		            <div class="col-lg-10">
		                <select class="form-control" id="education" th:field="*{education}" required="required">
		                	<option value="" selected="selected">Scegli</option>
		                	
						    <option th:each="educationLevel : ${educationLevels}" th:value="${educationLevel}">
						    	<th:block th:text="${educationLevel}"></th:block>
						    </option>
						    
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('education')}" th:errors="*{education}"></span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('job')}? 'has-error'">
		            <label for="job" class="col-lg-2 control-label">Ambito Lavorativo</label>
		            <div class="col-lg-10">
		                <select class="form-control" id="job" th:field="*{job}" required="required">
		                	<option value="" selected="selected">Scegli</option>
		                	
						    <option th:each="job : ${jobs}" th:value="${job}">
						    	<th:block th:text="${job}"></th:block>
						    </option>
						    
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('job')}" th:errors="*{job}"></span>
		            </div>
		        </div>
		        
		        <th:block th:include="fragments/common :: tailRegistrationFragment"></th:block>
		        
		    </fieldset>
		</form>
	</div>
	
	<div th:replace="fragments/footer"></div>
	
</body>
</html>