<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Registrati</title>
	
	<th:block th:include="fragments/common :: commonHeadFragment"></th:block>
</head>

<body>
	<div th:replace="fragments/navbar (showLogin='false')"></div>

    <div class="container">
		<form id="form" class="form-narrow form-horizontal" method="post" th:action="@{/register-first-phase}" th:object="${user}" th:fragment="signupForm" enctype="multipart/form-data">
		
			<div th:replace="fragments/common :: generalErrorsFragment"></div>
			
		    <th:block th:if="${#fields.hasErrors('${user.*}')}">
		        <div th:replace="fragments/alert :: alert (type='danger', message='I dati inseriti non sono validi.')"></div>
		    </th:block>
	    
		    <fieldset>
		        <legend>Registrati</legend>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
		            <label for="email" class="col-lg-2 control-label">Email</label>
		            <div class="col-lg-10">
		                <input type="text" class="form-control" id="email" placeholder="Indirizzo email" th:field="*{email}" required="required"/>
		                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('password') || #fields.hasErrors('global')}? 'has-error'">
		            <label for="password" class="col-lg-2 control-label">Password</label>
		            <div class="col-lg-10">
		                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" required="required"/>
		                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('password') || #fields.hasErrors('global')}? 'has-error'">
		            <label for="confirmedPassword" class="col-lg-2 control-label">Conferma password</label>
		            <div class="col-lg-10">
		                <input type="password" class="form-control" id="confirmedPassword" placeholder="Ripeti password" th:field="*{confirmedPassword}" required="required"/>
		                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		            </div>
		        </div>
		        
		        <th:block th:include="fragments/common :: tailRegistrationFragment"></th:block>
		        
		    </fieldset>
		</form>
	</div>
	
	<div th:replace="fragments/footer"></div>

</body>
</html>