<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Registrati - Informazioni trasporti</title>
	
	<th:block th:include="fragments/common :: commonHeadFragment"></th:block>
</head>

<body>
	<div th:replace="fragments/navbar (showLogin='false')"></div>

    <div class="container">
		<form id="form" class="form-narrow form-horizontal" method="post" th:action="@{/register-third-phase(token=${token})}" th:object="${user}" th:fragment="signupForm" enctype="multipart/form-data">
		
			<div th:replace="fragments/common :: generalErrorsFragment"></div>
			
		    <!--/* Show general error message when form contains errors */-->
		    <!-- 
		    <th:block th:if="${#fields.hasErrors('${user.*}')}">
		        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
		    </th:block>
		    
		    <th:block th:if="${exceptionMessage} != null">
		    	<div th:replace="fragments/alert :: alert (type='warning', message=${exceptionMessage})">Alert</div>
		    </th:block>
		     -->
		    
		    <fieldset>
		        <legend>Informazioni trasporti</legend>

				<!-- 
		        <div class="form-group" th:classappend="${#fields.hasErrors('nickname')}? 'has-error'">
		            <label for="nickname" class="col-lg-2 control-label">Nickname</label>
		            <div class="col-lg-10">
		                <input type="text" class="form-control" id="nickname" placeholder="Nickname" th:field="*{nickname}" required="required"/>
		                <span class="help-block" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Wrong or empty nickname chosen</span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('gender')}? 'has-error'">
		            <label for="gender" class="col-lg-2 control-label">Sesso</label>
		            <div class="col-lg-10">
		                <select class="form-control" id="gender" th:field="*{gender}">
		                	<option value="" style="display:none"></option>
						    <option value="male">M</option>
						    <option value="female">F</option>
						    <option value="other">Other</option>
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Nessun sesso scelto</span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('age')}? 'has-error'">
		            <label for="age" class="col-lg-2 control-label">Età</label>
		            <div class="col-lg-10">
		                <input type="number" class="form-control" id="age" min="1" max="200" th:field="*{age}" required="required"/>
		                <span class="help-block" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Età non valida</span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('image')}? 'has-error'">
		            <label for="image" class="col-lg-2 control-label">Imagine profilo</label>
		            <div class="col-lg-10">
		            	<input type="file" id="file" name="file" accept="image/x-png,image/gif,image/jpeg"/>
		                <span class="help-block" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">Il file non è un'immagine</span>
		            </div>
		        </div>
	        	
		        <div class="form-group" th:classappend="${#fields.hasErrors('education')}? 'has-error'">
		            <label for="education" class="col-lg-2 control-label">Livello istruzione</label>
		            <div class="col-lg-10">
		                <select class="form-control" id="education" th:field="*{education}" required="required">
		                	<option value="" style="display:none"></option>
		                	
						    <option th:each="educationLevel : ${educationLevels}" th:value="${educationLevel}">
						    	<th:block th:text="${educationLevel}"></th:block>
						    </option>
						    
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('education')}" th:errors="*{education}">Livello istruzione non valida</span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('job')}? 'has-error'">
		            <label for="job" class="col-lg-2 control-label">Lavoro</label>
		            <div class="col-lg-10">
		                <select class="form-control" id="job" th:field="*{job}" required="required">
		                	<option value="" style="display:none"></option>
		                	
						    <option th:each="job : ${jobs}" th:value="${job}">
						    	<th:block th:text="${job}"></th:block>
						    </option>
						    
						    <option value="Other">Altro</option>
						    <option value="None">Nessun lavoro</option>
						    
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('job')}" th:errors="*{job}">Occupazione non valida</span>
		            </div>
		        </div>
		        
		        -->
				
				<div class="form-group" th:classappend="${#fields.hasErrors('ownCar')}? 'has-error'">
		           	<label for="car" class="col-lg-2 control-label">Auto propria</label>
		           	<div class="col-lg-2">
		            	<input type="checkbox" class="form-control" id="car" value=""/>
		            </div>
		            <span class="help-block" th:if="${#fields.hasErrors('ownCar')}" th:errors="*{ownCar}">Informazioni non valide</span>
				</div>

		        <div id="divCar" class="form-group" th:classappend="${#fields.hasErrors('ownCar')}? 'has-error'" style="display: none;">
		        	<label for="carYear" class="col-lg-2 control-label">Dettagli auto</label>
		        	<div class="col-lg-5">
			           	<input type="number" value="1900" class="form-control" placeholder="Anno immatricolazione" id="carYear" min="1900" max="2017" th:field="*{ownCar.registrationYear}"/>
			        </div>
			        <div class="col-lg-5">
			           	<select class="form-control" id="carFuel" th:field="*{ownCar.fuelType}" placeholder="Carburante">
			           		<option value="" style="display:none"></option>
						    <option value="petrol">Benzina</option>
						    <option value="diesel">Diesel</option>
						    <option value="methane">Metano</option>
						    <option value="other">Altro</option>
						</select>
			       	</div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('carSharing')}? 'has-error'">
		            <label for="carSharing" class="col-lg-2 control-label">Servizio car sharing</label>
		            <div class="col-lg-10">    
		                <select class="form-control" id="carSharing" th:field="*{carSharing}">
		                	<option value="none" style="display:none">Non usato</option>
		                	
						    <option th:each="carSharingService : ${carSharingServices}" th:value="${carSharingService}">
						    	<th:block th:text="${carSharingService}"></th:block>
						    </option>
						    
						    <option value="Other">Other</option>
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('carSharing')}" th:errors="*{carSharing}">Servizio car sharing non valido</span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('bikeUsage')}? 'has-error'">
		           	<div id="bikeDiv" class="col-lg-12">
		           		<label class="col-lg-2 control-label">Utilizzo bici</label>
		           		
		           		<label for="owned" class="radio-inline">Propria</label>
		            	<input id="owned" type="checkbox" th:field="*{bikeUsage.owned}"/>
		            	
		            	<label for="sharing" class="radio-inline">Bike sharing</label>
		            	<input id="sharing" type="checkbox" th:field="*{bikeUsage.sharing}"/>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('pubTransport')}? 'has-error'">
		            <label for="pubTransport" class="col-lg-2 control-label">Trasporti pubblici</label>
		            <div class="col-lg-10">
		                <select class="form-control" id="pubTransport" th:field="*{pubTransport}">
						    <option value="none">Mai usato</option>
						    <option value="single">Biglietto singolo</option>
						    <option value="daily">Abbonamento giornaliero</option>
						    <option value="monthly">Abbonamento mensile</option>
						    <option value="annually">Abbonamento Annuale</option>
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('pubTransport')}" th:errors="*{pubTransport}">Trasporto pubblico non valido</span>
		            </div>
		        </div>
		        
		        <th:block th:include="fragments/common :: tailRegistrationFragment"></th:block>
		        
		        <!--
		        <div class="form-group">
		            <div class="col-lg-offset-2 col-lg-10">
		            	<button class="btn btn-lg btn-primary btn-block" type="submit">Conferma dati</button>
		            </div>
		        </div>
		        
		        <div class="form-group">
		            <div class="col-lg-offset-2 col-lg-10">
		                <p>Already have an account? <a href="login" th:href="@{/login}">Sign In</a></p>
		            </div>
		        </div>
		        -->
		    </fieldset>
		</form>
	</div>
	
	<div th:replace="fragments/footer"></div>
	
	<script>
		$(document).ready(function () {
		    $('#car').change(function () {
		        if (this.checked){ 
		           $('#divCar').fadeIn('slow');
		           $('#carYear').prop('required', true);
		           $('#carFuel').prop('required', true);
		        }
		        else{
		            $('#divCar').fadeOut('slow');
					$('#carYear').prop('required', false);
					$('#carFuel').prop('required', false);
		        }
		    });
		});
		$("form").submit(function() {
	
	 	   $(this).children('#car').remove();
	
	 	});
	</script>

</body>
</html>