<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Registrati - Informazioni trasporti</title>
	
	<th:block th:include="fragments/common :: commonHeadFragment"></th:block>
</head>

<body>
	<div th:replace="fragments/navbar (showLogin='false')"></div>

    <div class="container">
		<form id="form" class="form-narrow form-horizontal" method="post" th:action="@{/register-third-phase(token=${token})}" th:object="${user}" th:fragment="signupForm" enctype="multipart/form-data">
		
			<div th:replace="fragments/common :: generalErrorsFragment"></div>
			
		    <th:block th:if="${#fields.hasErrors('${user.*}')}">
		        <div th:replace="fragments/alert :: alert (type='danger', message='I dati inseriti non sono validi.')">I dati inseriti non sono validi.</div>
		    </th:block>
					    
		    <fieldset>
		        <legend>Informazioni trasporti</legend>

				<div class="form-group form-inline" th:classappend="${#fields.hasErrors('ownCar')}? 'has-error'">
					<div class="col-lg-12">
			           	<label for="car" class="col-lg-2 control-label">Auto propria</label>
			            <input id="car" type="checkbox" class="form-control" value=""/>
			            
			            <span class="help-block" th:if="${#fields.hasErrors('ownCar')}" th:errors="*{ownCar}">Informazioni non valide</span>
		            </div>
				</div>

		        <div id="divCar" class="form-group" th:classappend="${#fields.hasErrors('ownCar')}? 'has-error'" style="display: none;">
		        	<label class="col-lg-2 control-label">Dettagli auto</label>
		        	<div class="col-lg-10">
		        	
						<label for="carYear" class="radio-inline col-lg-6">Anno Immatricolazione</label>
						<div class="form-group col-lg-6">
				        	<input type="number" value="1900" class="form-control col-lg-6" placeholder="1900-2017" id="carYear" min="1900" max="2017" th:field="*{ownCar.registrationYear}"/>
				        </div>
				        
		        		<label for="carFuel" class="radio-inline col-lg-6">Carburante</label>
						<div class="form-group col-lg-6">
			           		<select class="form-control col-lg-6" id="carFuel" th:field="*{ownCar.fuelType}">
				           		<option value="" selected="selected">Scegli</option>
				           		
				           		<option th:each="fuelType : ${fuelTypes}" th:value="${fuelType}">
							    	<th:block th:text="${fuelType}"></th:block>
							    </option>
							    
							    <option value="other">Altro</option>
							</select>
						</div>
				       	
			       	</div>
			       	
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('carSharing')}? 'has-error'">
		            <label for="carSharing" class="col-lg-2 control-label">Servizio car sharing</label>
		            <div class="col-lg-10">    
		                <select class="form-control" id="carSharing" th:field="*{carSharing}">
		                	<option value="none" style="display:none">Non usato</option>
		                	
						    <option th:each="carSharingService : ${carSharingServices}" th:value="${carSharingService}">
						    	<th:block th:text="${carSharingService}"></th:block>
						    </option>
						    
						    <option value="Other">Other</option>
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('carSharing')}" th:errors="*{carSharing}">Servizio car sharing non valido</span>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('bikeUsage')}? 'has-error'">
		           	<div id="bikeDiv" class="col-lg-12">
		           		<label class="col-lg-2 control-label">Utilizzo bici</label>
		           		
		           		<label for="owned" class="radio-inline">Propria</label>
		            	<input id="owned" type="checkbox" th:field="*{bikeUsage.owned}"/>
		            	
		            	<label for="sharing" class="radio-inline">Bike sharing</label>
		            	<input id="sharing" type="checkbox" th:field="*{bikeUsage.sharing}"/>
		            </div>
		        </div>
		        
		        <div class="form-group" th:classappend="${#fields.hasErrors('pubTransport')}? 'has-error'">
		            <label for="pubTransport" class="col-lg-2 control-label">Trasporti pubblici</label>
		            <div class="col-lg-10">
		                <select class="form-control" id="pubTransport" th:field="*{pubTransport}">
						    <option value="none">Mai usato</option>
						    
						    <option th:each="passType : ${passTypes}" th:value="${passType}">
						    	<th:block th:text="${passType}"></th:block>
						    </option>
						    
						</select>
		                <span class="help-block" th:if="${#fields.hasErrors('pubTransport')}" th:errors="*{pubTransport}">Trasporto pubblico non valido</span>
		            </div>
		        </div>
		        
		        <th:block th:include="fragments/common :: tailRegistrationFragment"></th:block>
		        
		    </fieldset>
		</form>
	</div>
	
	<div th:replace="fragments/footer"></div>
	
	<script>
		$(document).ready(function () {
		    $('#car').change(function () {
		        if (this.checked){ 
		           $('#divCar').fadeIn('slow');
		           $('#carYear').prop('required', true);
		           $('#carFuel').prop('required', true);
		        }
		        else{
		            $('#divCar').fadeOut('slow');
					$('#carYear').prop('required', false);
					$('#carFuel').prop('required', false);
		        }
		    });
		});
		
		$("form").submit(function() {
	 	   $(this).children('#car').remove();
	 	});
	</script>

</body>
</html>