<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
    <th:block th:include="fragments/common :: commonHeadFragment"></th:block>
    
    <link rel="stylesheet" href="/css/leaflet.css"/>

    <script src="/js/app/libs/angular.js"></script>
    <script src="/js/app/libs/leaflet.js"></script>
    <script src="/js/app/libs/angular-simple-logger.min.js"></script>
    <script src="/js/app/libs/angular-resource.js"></script>
    <script src="/js/app/libs/angular-route.js"></script>
    <script src="/js/app/libs/ui-leaflet.js"></script>
    <script src="/js/app/libs/cacheFactory.js"></script>


    <script src="/js/app/app.js"></script>
    <script src="/js/app/controllers/main-controller.js"></script>
    <script src="/js/app/services/main-service.js"></script>
    <script src="/js/app/controllers/calculate-controller.js"></script>
    <script src="/js/app/services/calculate-service.js"></script>
    <script src="/js/app/services/cacheService.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body ng-app="App">
	
	<div class="header"></div>
	
	<div th:replace="fragments/navbar :: navbar(linee)"></div>
	

	<!-- Page Content -->
    <div class="container">
        <div ng-view="true"></div>
    </div>

	<div th:include="fragments/footer"></div>
</body>
</html>