<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
    <th:block th:include="fragments/common :: commonHeadFragment"></th:block>

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/leaflet.css"/>

    <script src="/js/angular.js"></script>
    <script src="/js/leaflet.js"></script>
    <script src="/js/angular-simple-logger.min.js"></script>
    <script src="/js/angular-resource.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/ui-leaflet.js"></script>
    <script src="/js/cacheFactory.js"></script>
    

    <script src="/js/app/app.js"></script>
    <script src="/js/app/app-main.js"></script>
    <script src="/js/app/app-calculate.js"></script>
    <script src="/js/app/cacheService.js"></script>
    
    <!--  <script src="/js/linee.js"></script>-->
    <script src="/js/percorsi.js"></script>
</head>
<body ng-app="App">
	<div class="header"></div>
	
	<div th:replace="fragments/navbar :: navbar(linee)"></div>
	

	<!-- Page Content -->
<div class="container">
    <div ng-view="true"></div>
</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>